.container {
  position: relative;

  display: inline-block;
  cursor: pointer;
}

.hint {
  position: absolute;
  bottom: 5px;
  right: 5px;

  filter: drop-shadow(1px 1px 0px #000000);
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.6);

  opacity: 0;

  transition: opacity 0.2s linear;
}

.container:hover, .container:active  {
  .overlay {
    opacity: 1;
  }
  .hint {
    display: none;
  }
}