
.main {
  background-color: #060606;

  padding: 20px;
}

.container {
  max-width: 1196px;
  margin: 0 auto;
  position: relative;
}

.contact {
  background-image: url(../../images/layout/header_gradient_strip.png), url(../../images/layout/header_gradient_main.png);
  background-attachment: scroll, scroll;
  background-repeat: repeat-x, repeat;
  background-size: auto, auto;
  background-position: center top, center top;
  background-color: #8f8f6e;

  border-bottom: 2px solid #2f2f2f;

  .container {
    padding: 14px 20px 10px 20px;

    text-align: left;

    user-select: none;
  }


  svg {
    margin-right: 5px;
  }

  .address, .phone, .email {
    font-size: 16px;
    font-weight: bold;
    color: #dddddd;
    font-family: "Arial", sans-serif;
  }

  .address {
    user-select: text;
    margin-bottom: 5px;
  }
  .addressPosition {
    display: inline-block;
  }
  .addressLines {
    display: inline-block;
    text-align: left;
  }

  .phone, .email {
    a {
      color: #a1aea4;
      text-decoration: none

    }
    span {
      user-select: all;
      color: #a1aea4;
    }
    color: #a1aea4;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
  }

  .phone {
    margin-right: 10px;
  }
}

@media all and (max-width: 640px) {
  .contact {
    .container {
      text-align: center;
    }

    .address {
      font-size: 21px;
      margin-bottom: 20px;
    }
    .addressPosition {
      display: block;
    }
    svg {
      margin: 0;
    }
    span {
      display: block;
    }
    .phone, .email {
      display: block;
      font-size: 18px;
    }
    .phone {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .email {
      margin-bottom: 10px;
    }
  }
}

.social {

}

.social a {
  width: 170px;
  display: block;
  color: #eeeeee;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 5px;
  opacity: 0.75;

  & > span {
    vertical-align: middle;
  }
}
.social a:hover {
  opacity: 1;
}
.social .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}


.cookieCourtesy, .footerRights {
  font-size: 11px;
  font-weight: bold;
  color: #a1aea4;
  font-family: "Arial", sans-serif;
  text-align: left;
}
.cookieCourtesy {
  margin-top: 20px;
}
.footerRights {
  color: #dddddd;
}

.visitEngland, .tripAdvisor, .hiddenGem {
  position: absolute;
  opacity: 0.8;
}

.visitEngland {
  top:0;
  right:80px;
}

.tripAdvisor {
  top:160px;
  right: 0;
}

.hiddenGem {
  top: 0;
  right: 0;
}


.tripAdvisor:hover, .visitEngland:hover, .hiddenGem:hover {
  opacity: 1;
}



@media all and (max-width: 1195px) {
  .main {

  }
}

@media all and (max-width: 640px) {
  .main {

  }

  .social {
    margin-bottom: 20px;
    margin-right: 200px;
  }

  .social a {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;

    background-color: #1f1f1f;
    border-radius: 10px;

  }
  .social a:first-child {
    margin-top: 0;
  }
  .social a .icon {
    margin-right: 10px;
  }
}

@media all and (max-width: 480px) {
  .main {

  }

  .social {
    margin-right: 0;
  }

  .visitEngland, .tripAdvisor, .hiddenGem {
    position: static;
    top: auto;
    right: auto;

    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: top;

  }

  .tripAdvisor {
    float: right;
  }
}

@media all and (max-width: 351px) {
  .thirdPartyContainer {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    width: 100%;

  }
  .thirdPartyContainer > div {
    flex: 0 1 auto;
  }

  .visitEngland, .tripAdvisor, .hiddenGem {
    margin-right: 0;
  }

  .tripAdvisor {
    float: none;
    margin-right: 0;
  }

  .contact {
    .container {
      padding: 14px 5px 10px 5px;
    }
  }
}

@media all and (max-width: 399px) {
  .social a .extended {
    display: none;
  }
}
