.main {
  background-image: /*url(../../images/layout/header_gradient_strip.png), */url(../../images/layout/header_gradient_main.png);
  background-attachment: /*scroll, */scroll;
  background-repeat: /*repeat-x, */repeat;
  background-size: /*auto, */auto;
  background-position: /*center bottom, */center top;
  background-color: #8f8f6e;

  padding-bottom: 5px;

}

.logoContainer {
  width: 623px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;

  .logoType {
    font-family: "Fredericka the Great", serif;
    font-size: 60px;
    color: #a1aea4;
    font-weight: 400;
    letter-spacing: -2px;
    white-space: nowrap;

    span {
      font-size: 46px;
    }
  }

  .logoType, .item {
    display: inline-block;
    vertical-align: middle;
  }
  .logoType {
    margin: 0 15px;
  }

  .townContainer {
    position: absolute;
    top: 30px;
    left: -260px;

    .townType {
      font-family: "Fredericka the Great", serif;
      margin: 0;
      font-size: 32px;
      color: #a1aea4;
      font-weight: 400;
    }
  }
  .countyContainer {
    position: absolute;
    top: 31px;
    right: -240px;

    .countyType {
      font-family: "Fredericka the Great", serif;
      margin: 0;
      font-size: 32px;
      color: #a1aea4;
      font-weight: 400;
    }
  }
}

@media all and (max-width: 1145px) {
  .logoContainer {
    .townContainer, .countyContainer {
      display: none;
    }
  }
}


.datesContainer {
  text-align: center;
  display: block;

  .datesType {
    font-family: Georgia, serif;
    font-size: 33px;
    color: #a1aea4;
  }
}

.navBar {
  margin: 25px auto 0 auto;
  max-width: 1196px;
}

@media all and (max-width: 640px) {
  .logoContainer {
    width: 100%;
    text-align: center;

    .item {
      display: none;
    }
    .logoType {
      margin: 0;

      font-size: 58px;

      span {
        font-size: 40px;
      }
    }
  }
  .datesContainer {
    display: none;
  }
  .navBar {
    margin-top: 5px;
  }
}

