.main {
  background-image: /*url(../../images/layout/header_gradient_strip.png), */url(../../images/layout/header_gradient_main.png);
  background-attachment: /*scroll, */scroll;
  background-repeat: /*repeat-x, */repeat;
  background-size: /*auto, */auto;
  background-position: /*center bottom, */center top;
  background-color: #8f8f6e;

  padding-bottom: 5px;

}

.logoContainer {
  width: 608px;
  margin: 0 auto;
  position: relative;

  .logo, .item {
    display: inline-block;
    vertical-align: middle;
  }
  .logo {
    margin: 0 15px;
  }

  .townContainer {
    position: absolute;
    top: 30px;
    left: -260px;
  }
  .countyContainer {
    position: absolute;
    top: 31px;
    right: -240px;
  }
}

@media all and (max-width: 1145px) {
  .logoContainer {
    .townContainer, .countyContainer {
      display: none;
    }
  }
}


.datesContainer {
  margin: 0 auto;
  display: block;
  width: 166px;
}

.navBar {
  margin: 25px auto 0 auto;
  max-width: 1196px;
}

@media all and (max-width: 640px) {
  .logoContainer {
    width: 100%;
    text-align: center;

    .item {
      display: none;
    }
    .logo {
      margin: 0;
      width: 100% !important;
    }

    .logo img {
      width: 100% !important;
      padding: 0 10px;
      box-sizing: border-box;
      object-fit: contain !important;
    }
  }
  .datesContainer {
    display: none;
  }
  .navBar {
    margin-top: 5px;
  }
}

