.container {
  h1 {
    font-family: "Fredericka the Great", serif;
    color: white;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
  }

  p {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color:white;
    font-family: "Georgia", serif;
    font-size: 18px;
  }
}

.gallery {
  h2 {
    font-family: "Fredericka the Great", serif;
    color: white;
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
    text-align: center;
  }

  .label {
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 13px;

    text-align: center;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {

  }
}