.container {

  h1, h2 {
    font-family: "Fredericka the Great", serif;
    color: white;
    font-weight: 400;
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }

}

.justGiving {
  background-image: url(../images/layout/header_gradient_main.png);
  padding: 20px;
  border:2px solid #727259;
  border-radius: 5px;
}

.linksList {
  list-style: none;
  padding: 0;

  a {
    color: white;
    font-family: "Georgia", serif;
    font-size: 18px;

    line-height: 35px;
    text-decoration: none;

    span {
      border-bottom: 2px solid transparent;
    }
    span:hover {
      border-bottom: 3px solid #c5c697;
    }
  }
}

.divider {
  height: 2px;
  background-color: #727259;

  margin: 20px 0;
}

.thirdparties {
  & > div {
    vertical-align: top;
    display: inline-block;
  }

  & > div + div {
    margin-left: 20px;
  }
}

@media (max-width: 1212px){
  .padded, .thirdparties {
    padding: 0 20px;
  }
  .justGiving {
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}

@media all and (max-width: 750px) {
  .thirdparties {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      margin: 10px 0;
    }
    & > div + div {
      margin-left: 0px;
    }
  }
}

.photographers {
  max-width: 893px;
  margin:20px auto 0 auto;

  & > a {
    display: block;
  }

  & > a + a {
    margin-top: 10px;
  }
}