.row {
  display: flex;
}
.col {
  flex: 1 1 auto;
}

.container {
  h1 {
    font-family: "Fredericka the Great", serif;
    color: white;
    font-weight: 400;
    font-size: 3em;
  }
}


@media (max-width: 1212px){
  .container {
    h1 {
      margin: 0 0 20px 20px;
    }
  }
}