.visitContainer {
  position: relative;

  h1, h2 {
    font-family: "Fredericka the Great", serif;
    color: white;
    font-weight: 400;
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

}

.interactiveMapContainer {
  position: relative;
}

.interactiveMapLoader {
  position: absolute;
  top: 50%;
  left: 50%;

  margin-left: -50px;
  margin-top: -50px;
}

.interactiveMap {
  margin: 10px auto 0 auto;
  display: block;
  z-index: 2;
  position: relative;
}

.goodJourneyIcon {
  display: inline-block;
  margin-right: 8px;
}

.tripadvisorFrame {
  width: 160px;
  height: 94px;
  overflow: hidden;
  display: inline-block;
}

.tripadvisorContainer {
  text-align: center;
  margin-top: 20px;
}

.visitContainer .clear {
  clear: both;
}

.visitContainer .clear-r {
  clear: right;
}

.visitContainer .openingDetails {
  display: flex;
  padding: 0 25px;

  a {
    color: yellow;
    font-family: "Georgia", serif;
    font-size: 18px;

    line-height: 35px;
    text-decoration: none;

    span {
      border-bottom: 2px solid transparent;
    }

    span:hover {
      border-bottom: 3px solid #c5c697;
    }
  }
}

.visitContainer .openingDetails p {
  font-family: "Georgia", serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.visitContainer .openingDetails p:last-of-type {
  margin-bottom: 0;
}

.visitContainer .openingDetailsLeft {
  text-align: right;
  flex: 1;
  margin-right: 40px;
}

.visitContainer .openingDetailsRight {
  flex: 1;
}

.emph, .price {
  color: #ffff00;
}

.openingPrices {
  margin-top: 30px;
}

.priceContainer {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.priceTable {
  border-collapse: collapse;

  font-family: "Georgia", serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  width: 100%;

  th, td {
    border: none;
  }

  tr + tr {
    border-top: 1px solid #b1b189;
  }

  tr:last-of-type {
    border-top: none;
  }

  .annotationColumn, .emptyColumn {
    background-color: #727259;
  }

  .priceColumn {
    background-color: #808062;
    text-align: center;
    padding: 5px 15px;
  }

  td.priceColumn {
    color: yellow;
  }

  th.priceColumn {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding: 15px;
  }

  tr:last-of-type td.priceColumn {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }

  td.annotationColumn {
    padding: 10px 15px;

    .sub {
      font-weight: normal;
      font-size: 14px;
    }
  }

  tr:first-of-type td.annotationColumn {
    border-top-left-radius: 10px;
  }

  tr:first-of-type td.emptyColumn {
    border-top-right-radius: 10px;
  }

  .roundBl {
    border-bottom-left-radius: 10px;
  }

  .roundBr {
    border-bottom-right-radius: 10px;
  }
}

@media all and (max-width: 1220px) {
  .visitContainer {
    padding: 0;

    h1 {
      margin-left: 20px;
    }
  }
}

@media all and (max-width: 800px) {
  .visitContainer .openingDetails {
    flex-direction: column;
  }


  .visitContainer .openingDetailsLeft {
    text-align: left;
    margin-right: 0;
  }
}