body {
  background: #060606;
}

.constrainedContent {
  width: 100%;
  margin: 0 auto;

  max-width: 1196px;

  box-sizing: border-box;
}

@media (max-width: 1195px) {
  .constrainedContent {

  }
}

.clear {
  clear: both;
}


/*@media all and (max-width: 1280px) {
  .constrainedContent {
    max-width: 960px;
  }
}
@media all and (min-width: 1281px) {
  .constrainedContent {
    max-width: 1280px;
  }
}*/


.gatsby-image-wrapper [data-main-image] {
  opacity: 1 !important;
  transition: none !important;
}