.constrainedContent {
  width: 100%;
  margin: 0 auto;
}


@media all and (max-width: 1280px) {
  .constrainedContent {
    max-width: 960px;
  }
}
@media all and (min-width: 1281px) {
  .constrainedContent {
    max-width: 1280px;
  }
}
