body {
  background: #060606;
}

.constrainedContent {
  width: 100%;
  margin: 0 auto;

  max-width: 1196px;

  box-sizing: border-box;
}

.styledScrolling {
  &::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }

  &::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 7px;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@media (max-width: 1195px) {
  .constrainedContent {

  }
}

.clear {
  clear: both;
}


/*@media all and (max-width: 1280px) {
  .constrainedContent {
    max-width: 960px;
  }
}
@media all and (min-width: 1281px) {
  .constrainedContent {
    max-width: 1280px;
  }
}*/


.gatsby-image-wrapper [data-main-image] {
  opacity: 1 !important;
  transition: none !important;
}