.container {
  font-family: "Arial", sans-serif;
  background-color: white;
  border: 1px solid #cccccc;
  color: black;

  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  margin: 0 25px;



  h1 {
    margin:0;
    font-size: 18px;
  }
  p {
    margin: 20px 0 0 0;
    font-size: 14px;
  }

  .logo {
    float:right;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
