.container {
  display: flex;

  width: 100%;
  max-width: 850px;
  margin:0 auto;

  min-height: 200px;
  margin-bottom: 20px;
}


.left {
  width: 200px;

  background-color: #000000;
  background-image: /*url(../../images/layout/header_gradient_strip.png), */url(../../../images/layout/header_gradient_faded.jpg);
  background-attachment: /*scroll, */scroll;
  background-repeat: /*repeat-x, */repeat;
  background-size: /*auto, */auto;
  background-position: /*center bottom, */center top;


  display: flex;
  flex-direction: column;
  padding-top: 40px;

  .prefix {
    color: white;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-family: Times New Roman, serif;
  }
  .day {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 0 3px;
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
  }
  .month {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
  }

  .time {
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-family: Times New Roman, serif;
    margin-top: 40px;
  }


}
.right {
  flex: 1;
  background-color: white;
  position: relative;
  overflow: hidden;

  .title {
    font-family: "Fredericka the Great", serif;
    color: black;
    font-size: 32px;
    text-align: left;

    padding: 10px 10px 7px 10px;
    position: relative;
    text-shadow: 0px 0px 1px black;
  }



  .description {
    font-family: Georgia, serif;
    font-size: 16px;
    padding: 0 10px;
    word-break: break-word;
    text-shadow: 1px 1px 0px white;

    p {
      margin:0;
    }
    p + p {
      margin-top: 5px;
    }
  }

  .image {
    float: left;
    margin: 3px 10px 10px 10px;

  }

  .facebookSpacer {
    width: 40px;
    height: 40px;
    float:right;
  }
  .facebookLink {
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 0.5;

    transition: opacity 0.3s ease-out;
  }
  .facebookLink:hover {
    opacity: 1;
  }

}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }

  .left {
    width: 130px;

    .day {
      font-size: 24px;
    }
    .month {
      font-size: 18px;
    }
    .time {
      font-size: 14px;
    }
  }
  .right {
    .title {
      text-align: center;
    }

    .image {
      float: none;
      margin: 0 0 10px 0;

      :global {
        .gatsby-image-wrapper {
          margin: 0 auto;
        }
      }
    }
  }
}