.container {
  background-color: white;
  border: 2px solid #a4aca7;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  box-shadow: 5px 5px 10px #636764;

  padding: 10px 10px 0 10px;

  h2 {
    margin:0;
    font-family: "Fredericka the Great", serif;
    color: black;
    font-weight: 400;
    font-size: 32px;
  }

  p {
    font-family: Georgia, serif;
    font-size: 18px;

    text-align: left;
  }

  a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
  a:hover, a:active {
    border-bottom: 2px dotted black;
  }


  .date {
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 21px;

    clear: both;
    text-align: right;
    margin-bottom: 5px;

  }
}

.container + .container {
  margin-top: 25px;
}


@media all and (max-width: 640px) {
  .container {
    h2 {
      font-size: 28px;

      white-space: pre-wrap;
    }

    p {
      font-family: Georgia, serif;
      font-size: 16px;

      text-align: left;
    }

    .date {
      font-size: 16px;
    }
  }
}